<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration 
	name="testConfiguration"
    strict="true"
	status="info" 
	monitorInterval="600"
    schema="log4J-V2.0.xsd"
>
	<appenders>
		<File name="file" fileName="weblogs/lbm-webapp.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<logger name="org.apache.log4j.xml" level="info">
			<appender-ref ref="file" />
		</logger>

		<!-- Application Loggers -->
		<logger name="com.logbookmanager" level="info" additivity="false" >
			<appender-ref ref="file" />
			<appender-ref ref="stdout" />
		</logger>

		<logger name="com.logbookmanager.controller" level="info" >
		</logger>

		<!-- 3rdparty Loggers -->
		<logger name="org.springframework.core.env.StandardEnvironment" level="info" >
		</logger>

		<logger name="org.springframework" level="info" >
		</logger>

		<logger name="org.springframework.jndi" level="info" >
		</logger>

		<logger name="org.springframework.ui" level="info" >
		</logger>

		<logger name="org.springframework.core" level="info" >
		</logger>

		<logger name="org.springframework.beans" level="info" >
		</logger>

		<logger name="org.springframework.beans.factory" level="info" >
		</logger>

		<logger name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader" level="info" >
		</logger>



		<logger name="org.springframework.test" level="info" >
		</logger>


		<logger name="org.springframework.context" level="info" >
		</logger>

		<logger name="org.springframework.web" level="info" >
		</logger>

		<logger name="org.springframework.security" level="info" >
		</logger>

		<logger name="net.sf.ehcache" level="info" >
		</logger>

		<logger name="org.springframework.jdbc" level="info" >
		</logger>

		<logger name="org.springframework.jdbc" level="info" >
		</logger>

		<logger name="com.mchange.v2" level="info" >
		</logger>

		<logger name="org.apache.commons.beanutils" level="info" >
		</logger>

		<logger name="org.apache.catalina" level="info" >
		</logger>

		<logger name="org.hibernate.SQL" level="info" >
		</logger>

		<logger name="org.hibernate.type" level="info" >
		</logger>

		<logger name="TableMetadata" level="info" >
		</logger>

		<logger name="org.hibernate.loader.Loader" level="info" >
		</logger>


		<logger name="org.hibernate.cfg.HbmBinder" level="info" >
		</logger>

		<logger name="org.hibernate.cfg.CollectionSecondPass" level="info" >
		</logger>

		<logger name="org.hibernate" level="info" >
		</logger>

		<logger name="org.jboss.logging" level="info" >
		</logger>

		<!-- Root Logger -->
		<root level="info">
			<appender-ref ref="stdout" />
		</root>
	</loggers>
</log4j:configuration>
